.grid{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    height: 500px
}

.block {
    border: 1px solid;
    
}

.black {
    background-color: black;
}

.container {
    display: flex;
}

.container h1 {
    font-size: 400pt;
    margin: 0;
}

.item1{
    background-color: teal;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end:3;
    grid-column-end: 3
}

.item2{
    background-color: orange;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end:2;
    grid-column-end: 4
}

.item3{
    background-color: skyblue;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end:3;
    grid-column-end: 4
}

.item4{
    background-color: indigo;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end:4;
    grid-column-end: 4
}