body {
   
}
.template {
    height: 90vh;
    display: grid;
    grid-template-areas: 
    "Logo Header Header" 
    "Nav Nav Nav" 
    "Sidebar Content Content" 
    "Sidebar Content Content" 
    "Sidebar Content Content" 
    "Sidebar Content Content" 
    "Sidebar Content Content" 
    "Sidebar Content Content" 
    "Sidebar Content Content" 
    "Sidebar Content Content" 
    "Sidebar Content Content" 
    "Sidebar Content Content" 
    "Sidebar Content Content" 
    "Sidebar Content Content" 
    "Sidebar Content Content" 
    "Sidebar Content Content" 
    "Footer Footer Footer";
}

.Logo {
    grid-area: Logo;
}

.Header {
    grid-area: Header;
}

.Nav {
    grid-area: Nav
}

.Sidebar {
    grid-area: Sidebar
}

.Content {
    grid-area: Content
}

.Footer {
    grid-area: Footer
}

.item{
    border: 1px solid;
}